$gray: #586069;
$gray-light: #E5E5E5;
$black: #000;
$blue: #0366D6;
$white: #fff;

$input-font-size: 16px;
$main-font-size: 14px;
$title-font-size: 20px;
$emoji-font-size: 48px;
$empty-font-size: 24px;