$gray: #586069;
$gray-light: #e5e5e5;
$black: #000;
$blue: #0366d6;
$blue-light: #ecf5ff;
$blue-border: #9bcaff;
$white: #fff;

$input-font-size: 16px;
$main-font-size: 14px;
$title-font-size: 20px;
$emoji-font-size: 48px;
$empty-font-size: 24px;
