@import "./fonts";
@import "./vars";
@import "./components/all";

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000;
}

.container {
  max-width: 1150px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 15px;

  &_repos {
    padding: 0;
  }

  &_card {
    max-width: 750px;
  }
}